* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
  flex-direction: column; /*아이템들을 수직으로 정렬 */
}

img {
  display: flex;
}
header h3 {
  margin: 0;
  text-align: center;
  padding-bottom: 4px;
  padding-top: 4px;
}
#search-input {
  display: flex;
  padding: 10px;
  margin: 5px;
  width:200px;
  text-align: center;
  border: 1px solid rgba(34, 34, 34, 0.376);
}
#search-output {
  padding: 5px;
  margin: 10px;
  width: 70px;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  margin-top: 10px;
  align-self: center; /* 자기 자신을 가운데로 정렬 */
}
.results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* 요소들을 여러 줄에 걸쳐 배치할 수 있도록 설정*/
}

.card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  overflow: hidden; /* 화면이 트기에 넘어갈 때 어떻게 보여줄건지에 대한 코드, hidden을 사용해 보여지지 않음 */
  width: 200px;
  text-align: center;
}
.card img {
  width: 100%;
}
.card-content {
  padding: 15px;
}
.card-title {
  font-size: 18px;
  margin: 0 0 10px; /* 왼쪽, 오른쪽 여백 0 / 아래쪽 여백 100x */
}
.card-year {
  color: #777;
}